{% load static %}

<li>
        <article class="post">
                <a href="{% url 'post-detail-page' %}">
                        <img src="{% static "blog/images/3.jpeg" %}" alt="Mountain Hiking" />
                                <div class='post_content'>
                                        <h3>Mountain Hiking</h3>
                                        <p>Add a lot of text in here if you feel like it</p>
                                </div>
                 </a>
        </article>
</li>