[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
rich = "*"
requests = "*"
pylint-django = "*"
jinja2 = "*"
django-settings-json = "*"
autopep8 = "*"
pylint = "*"
pylint-plugin-utils = "*"

[dev-packages]

[requires]
python_version = "3.9"
