{% extends "base.html" %}
{% load static %}

{% block title %}

This is my blog

{% endblock %}

{% block css_files %}
         <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}


{% block content %}

<header id='main-navigation'>
        <h1><a href=''>Stef`s Blog 2021</a></h1>
        <nav>
                <a href=''>All Posts</a>
        </nav>
</header>

<section id='welcome'>
        <header>
                <img src='{% static "blog/images/coderetro.jpeg" %}' alt='Stef Griffin />
        </header>
</section>

<section>
        <h2>My latest ideas</h2>

        <ul>
                {% include "blog/includes/post.html" %}
        </ul>
</section>

<section>
        <h2>CodeYourIdeas</h2>
</section>



{% endblock %}


