{% extends "base.html" %}
{% load static %}


{% block title %}
703-281-5232
{% endblock %}



{% block css_files %}

<link rel="stylesheet" href="{% static 'blog/post.css' %}" />
<link rel="stylesheet" href="{% static 'blog/index.css' %}" />

{% endblock %}
    




{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/fgm.jpg" %}" alt="The World 2021"/>
            <h2>Fairfax Grounds Maintenance</h2>

        </header>

        <p>Professionalism, </p>
    </section>




     <section id="latest-posts">

        <h2>Commercial & Residential</h2>

        <ul>
                
                {% for post in posts %}
                    {% include 'blog/include/post.html' %}
                {% endfor %}
           
        </ul>
     </section>


        <section id="about">
                <h2>Contact-us</h2>

                <p>About FGM</p>

        </section>

{% endblock %}


